<section id="contact" class="hero is-medium">
  <div class="hero-body">
    <p class="title">
      Contact Us
    </p>
    <p class="subtitle">
      Cupidatat culpa culpa in Lorem minim enim incididunt nulla consectetur irure.
      Cillum dolore Lorem ex nulla laboris ea commodo labore.
      Eu deserunt ea aute aute nulla commodo ullamco fugiat in.
    </p>
    <p class="subtitle">
      Cupidatat culpa culpa in Lorem minim enim incididunt nulla consectetur irure.
      Cillum dolore Lorem ex nulla laboris ea commodo labore.
      Eu deserunt ea aute aute nulla commodo ullamco fugiat in.
    </p>
  </div>
</section>
