<section id="home" class="section is-large has-text-centered columns">
  <div class="content column is-6 is-offset-3">
    <h1 class="title is-size-1">
      The new way of doing code is just one click distance away.
    </h1>

    <div>
      <%= link_to new_user_registration_path, :class => 'button is-primary is-large' do %>
        Get started &nbsp;

        <%= icon('fas', 'rocket', class: 'strong') %>
      <% end %>
    </div>
  </div>
  <div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</section>
